body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
}

.app {
  max-width: 420px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* TOP */
.top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #222;
}

/* CONTENT */
#content {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

/* NOTE */
#note {
  font-size: 80px;
  text-align: center;
  margin: 20px 0;
}

.btnGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

/* BOTTOM NAV */
.bottomNav {
  display: flex;
  background: #222;
}

.bottomNav button {
  flex: 1;
  padding: 15px;
  color: white;
  background: none;
  border: none;
}
